@page "/fetchdata"
@inherits WebBlazor.Redux.MyAppComponent
@inject HttpClient Http
@using WebBlazor.Redux

<h1>Km standen</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (State.Kmstanden == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Stand</th>
                <th>Date</th>
                <th>Id</th>
                <th>Adres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kmstand in State.Kmstanden)
            {
            <tr>
                <td>@kmstand.stand</td>
                <td>@kmstand.datum</td>
                <td>@kmstand.id</td>
                <td>@kmstand.adresId</td>
            </tr>
            }
        </tbody>
    </table>
}

@functions {
    protected override async Task OnInitAsync()
    {
        await ActionCreators.LoadKmStanden(Store.Dispatch, Http);
    }
}
