@page "/newkmstand"
@inherits WebBlazor.Redux.MyAppComponent
@inject HttpClient Http
@using WebBlazor.ViewModel
@using WebBlazor.Redux

<h1>New KmStand</h1>

<EditKmStand OnAdded="@Added"></EditKmStand>

<span>@status</span>

@functions {
    string status;

    public void Added(KmStand kmstand)
    {
        status = "added.";
        //Dispatch(new AddNewKmStandAction(kmstand));
        //ActionCreators.AddKmStand(kmstand, Store.Dispatch, Http).Wait();
        KmStandPost data = new KmStandPost() { stand = kmstand.stand, datum = kmstand.datum };


        Http.PostJsonAsync<KmStandPost>("http://localhost:6001/api/v1/KmStanden", data).Wait();
    }

    class KmStandPost
    {
        public int stand { get; set; }
        public DateTime datum { get; set; }

    }
}
