@page "/newkmstand"
@inherits WebBlazor.Redux.MyAppComponent
@inject HttpClient Http
@using WebBlazor.ViewModel
@using WebBlazor.Redux

<h1>New KmStand</h1>

<EditKmStand OnAdded="@Added"></EditKmStand>

<span>@status</span>

@functions {
    string status;

    public async Task Added(KmStand kmstand)
    {
        status = "added.";
        
        await ActionCreators.AddKmStand(kmstand, Store.Dispatch, Http);
    }
    
}
